{{- define "content"}}
<main class="main" role="main">
    <article class="content article article-archives article-type-list" itemscope="">
        <header class="article-header">
            <h1 itemprop="title">{{ .Title }}</h1>
            <p class="text-muted">{{- T "total_article" (len .RegularPages) }}</p>
        </header>
        <div class="article-body">
            {{ range .Data.Pages.GroupByDate "2006" }}
                <section class="panel panel-default b-no">
                    <div class="panel-heading" role="tab">
                        <h3 class="panel-title">
                            <a data-toggle="collapse" href="#collapse{{ .Key }}" aria-expanded="true">
                                <i class="icon icon-calendar-plus text-active"></i><i class="icon icon-calendar-minus text"></i>
                                &nbsp;{{ .Key }}
                            </a>
                        </h3>
                    </div>
                    
                    <div id="collapse{{ .Key }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ .Key }}">
                        <div class="panel-body">
                            <div class="collection">
                               {{ range .Pages }}
                                   {{- .Scratch.Set "type" "link"}}
                                   {{- partial "item-post.html" . }}
                               {{ end }}
                            </div>
                        </div>
                    </div>
                </section>
            {{ end }}
        </div>
    </article>
</main>
{{- end }}